
h1, p {
    text-align: center;
}
table {
    border-collapse: collapse;
  }
  
  table, th, td {
    border: 1px solid #ddd; 
  }

table {
    border-collapse: collapse;
    width: 80%;
    margin: auto; 
}


th, td {
    width: 150px;
    height: 50px; 
}


td {
    text-align: center;
}

