body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

form {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

fieldset {
  border: none; 
  border-radius: 8px;
  margin-bottom: 20px;
  background-color: #1e90ff; 
  color: black; 
}

legend {
  font-style: italic;
  position: absolute; 
  top: -20px;  
}

legend.formacion {
  color: #1e90ff; 
}

legend.nacionalidad {
  color: orange;
}

legend.estudios {
  color: #008000; 
}

legend.idiomas {
  color: red;
}

label {
  display: block;
  margin-bottom: 8px;
  color: black; 
}

input,
select {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
}

.checkbox-group {
  display: flex;
  gap: 10px;
}

button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
}

button.cancelar {
  background-color: #ff6347; 
}

button:hover {
  background-color: #45a049;
}